.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    text-align: center;
    color: white;
}

body {
    background-image: url("../images/background.png");
}

.container {
    padding: 10px;
    display: flex;
    color: white;
}

.box {
    border-radius: 10px;
    border-style: solid;
    border-width: 10px;
    padding: 45px;
    flex: auto;
    text-align:center;
    align-items:flex-end;
}

.card {
    border: solid 5px;
    border-radius: 5px;
    float: left;
}

#five_Day{
    background-color: white;
    color: black;
    border: 80px;
}